body{
    height: 100%;
    color: cyan;
    background-color: black;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div{

    margin: 11px;
}
input{
    color: aliceblue;
    padding: 7px;
    padding-right: 58px;
    background: #000;
    margin-top: 3px;
}
h1{
    text-align: center;
}
button{
    color: cyan;
    background: #000;
    border: cyan solid 2px;
    padding: 5px;
}
.errorclass{
    color: red;
}
